.margin-20 {
    margin-bottom: 20px;
}

.margin-d-100 {
    margin-bottom: 2000px;
}

.margin-u-20 {
    margin-top: 20px;

}

.margin-top{

    margin-top: 30px;
}

.margin-30 {
    margin-bottom: 30px;
}

.margin-up-20 {
    margin-top: 30px;
}

.margin-up-60 {
    margin-top: 60px;
}

.margin-50 {
    margin-top: 50px;
}

.margin-d-50 {
    margin-bottom: 50px;
}

.margin-100 {
    margin-top: 100px;
}

.margin-200 {
    margin-top: 200px;
}

.width-50{
    width: 50%;
}
